.mainT,
.create {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}
.fcontainer {
  display: grid;
  width: 30%;
  margin-left: 35%;
  line-height: 2;
}
.sub {
  margin-top: 10px;
  height: 40px;
  border: none;
}
.table {
  margin-top: 25px;
  text-align: center;
}
.btn {
  margin-top: 10px;
}
